{include file="base/header_new" /}
<div style="height:940px;background: url('/static/common/img/member_bg.png') top no-repeat;">
	<div class="container" style="height:120px;">
		<div class="index_header" style="margin-left:0px;color:#a7adf7;">
			<div style="float:left;margin-top:45px;"><a href="/"><img src="/static/common/img/logo_white.png" title="FA財"></a></div>
			<ul>
				<li><a href="javascript:;" title="个人中心"><img src="/static/common/img/member_on_icon.png" title="个人中心"></a></li>
				<li><a style="color:#a7adf7;" href='{:url("IndustryReport/lists")}' title="研报中心">研报中心</a></li>
				<li><a style="color:#a7adf7;" href='{:url("News/lists")}' title="资讯中心">资讯中心</a></li>
				<li><a style="color:#a7adf7;" href='{:url("Index/listorganize")}' title="找资金">找资金</a></li>
				<li><a style="color:#a7adf7;" href='{:url("Index/listproject")}' title="找项目">找项目</a></li>
				<li><a style="color:#a7adf7;" href="/" title="首页">首页</a></li>
			</ul>
		</div>
	</div>
	
	<div class="container" style="height:110px;">
		<div class="detail_menu" style="color:#fff;">
			<a href="/" title="首页" style="color:#fff;">首页</a> &nbsp;>&nbsp;
			<a href="javascript:;" style="color:#fff;" title="个人中心">个人中心</a>
		</div>
	</div>
	<div class="container" style="height:662px;">
	    <div class="member_box">
	    	<div style="width:106px;margin:61px 0 0 165px;">
	    		<div style="width:106px;height:106px;border-radius:53px;background: url('{$info.userPhoto}') center center no-repeat;"></div>
	    	</div>
	    	<div style="text-align:center;">
	    		<div style="margin:30px 0 22px 0;color:#565682;font-size:22px;font-weight:bold;">{$info.userName}</div>
	    		<div style="color:#9191af;font-size:14px;">{$info.company}&nbsp;|&nbsp;{$info.position}</div>
	    		<div style="margin:10px 0 109px 0;color:#9191af;font-size:14px;">{$info.userPhone}</div>
	    		<div style="margin:0 54px 0 54px;height:70px;">
	    			<div style="float:left;text-align:center;margin-right:32px;width:56px;height:70px;font-size:14px;color:#9191af;">
		    			<div style="font-size:30px;font-weight:bold;line-height:0px;margin:0 0 32px 0;">666</div>
		    			<div>我的关注</div>
	    			</div>
	    			<div style="float:left;width:56px;margin-right:32px;height:70px;font-size:14px;color:#9191af;">
			    		<div style="font-size:30px;font-weight:bold;line-height:0px;margin:0 0 32px 0;">666</div>
			    		<div>我的粉丝</div>
		    			</div>
	    			<div style="float:left;width:56px;margin-right:32px;height:70px;font-size:14px;color:#9191af;">
		    			<div style="font-size:30px;font-weight:bold;line-height:0px;margin:0 0 32px 0;">666</div>
		    			<div>我的人脉</div>
	    			</div>
	    			<div style="float:left;width:56px;height:70px;font-size:14px;color:#9191af;">
		    			<div style="font-size:30px;font-weight:bold;line-height:0px;margin:0 0 32px 0;">666</div>
		    			<div>我的收藏</div>
	    			</div>
	    		</div>
	    		<div style="margin:0 54px 0 54px;height:60px;">
	    			<div style="margin:40px 0 0 0;line-height:0;border-radius:30px;width:328px;height:60px;line-height:60px;font-size:18px;background:#e5efff;color:#2e77f5;">
	    			编辑个人资料
	    			</div>
	    		</div>
	    	</div>
	    </div>
		<div class="member_header" >
			<ul>
				<li><a href="javascript:;"title="关于我们">关于我们</a></li>
				<li><a href="javascript:;" title="关于我们">|</a></li>
				<li><a href="javascript:;"title="使用指南">使用指南</a></li>
				<li><a href="javascript:;"title="关于我们">|</a></li>
				<li><a href="javascript:;" title="我的活动">我的活动</a></li>
				<li><a href="javascript:;"title="关于我们">|</a></li>
				<li><a href="javascript:;" title="我的学习">我的学习</a></li>
				<li><a href="javascript:;"title="关于我们">|</a></li>
				<li><a href="javascript:;" title="消息中心">消息中心</a></li>
				<li><a href="javascript:;"title="关于我们">|</a></li>
				<li><a href="javascript:;" title="我的需求">我的需求</a></li>
				<li><a href="javascript:;"title="关于我们">|</a></li>
				<li><a href="javascript:;" title="我的业务">我的业务</a></li>
			</ul>
			<div style="height:176px;text-align:center;line-height:0;margin-top:300px;color:#c3c3d8;">
				<img src="/static/common/img/waiting.png">
				
			</div>
			<div style="font-size:16px;text-align:center;line-height:50px;color:#c3c3d8;">功能开发中，敬请期待！</div>
		</div>
	</div>
</div>
{include file="base/footer_new" /}

	</body>
</html>
