<div class="container" style="height:400px;color:#9191af;">
	<div style="float:left;line-height:0px;width:35%;">
		<div style="width:100%;">
			<div style="font-size:18px;height:18px;line-height:18px;margin:128px 0 53px 0;width:100px;">关于我们</div>
			<div style="height:18px;">
				<div style="float:left;text-align:center;margin-right:16px;">
					<div style="text-align:center;width:114px;height:114px;"><img src="/static/common/img/wechat_ser_qrcode.png" width="114" height="114"></div>
					<div style="text-align:center;margin-top:25px;line-height:0px;">服务号</div>
				</div>
				<div style="float:left;margin-right:16px;">
					<div style="text-align:center;width:114px;height:114px;"><img src="/static/common/img/wechat_sub_qrcode.png" width="114" height="114"></div>
					<div style="text-align:center;margin-top:25px;line-height:0px;">订阅号</div>
				</div>
				<div style="float:left;">
					<div style="text-align:center;width:114px;height:114px;"><img src="/static/common/img/weibo_qrcode.png" width="114" height="114"></div>
					<div style="text-align:center;margin-top:25px;line-height:0px;">微博</div>
				</div>
			</div>
		</div>
	</div>
	<div style="float:left;line-height:0px;width:65%;">
		<div style="height:222px;width:100%;">
			<div class="qrcodekf" id="qrcodekf" style="float:right;margin-top:50px;width:322px;display:none">
					<img src="/static/common/img/qrcodekf.png" width="322" height="170"/>
			</div>
		</div>
		<div>
			<div style="float:left;margin-top:20px;width:90%;height:22px;">
				<div id="wechatkf" style="float:right;width:91px;">
					<img src="/static/common/img/wechatkf_on.png" width="91" height="22" id="wechatkf_on" style="display:none"/>
					<img src="/static/common/img/wechatkf_off.png" width="91" height="22" id="wechatkf_off" />
				</div>
				<div style="float:right;width:85px;">
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=912631804&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:912631804:51" alt="点击跟我交流" title="点击跟我交流"/></a>
	        	</div>
	        	<div class="fa_about" id="fa_about" style="float:right;width:90px;" onclick="showAbout()">
					<img src="/static/common/img/fa_about_icon_on.png" width="83" height="22" id="fa_about_on" style="display:none"/>
					<img src="/static/common/img/fa_about_icon_off.png" width="83" height="22" id="fa_about_off"/>
				</div>
			</div>
			<div style="float:left;width:10%;height:22px;"></div>
		</div>
		<div>
			<div style="float:left;margin-top:0px;width:90%;margin-top:36px;line-height:0px;text-align:right;">
				Email：xinbaokeji@jrfacai.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Add.：上海市浦东新区民生路1518号（金鹰大厦）A座702
			</div>
			<div style="float:left;margin-top:0px;width:10%;height:36px;"></div>
		</div>
		<div>
			<div style="float:left;text-align:right;margin-top:36px;width:90%;line-height:0px;">
				<div >&copy;2020&nbsp;上海歆宝信息科技有限公司&nbsp;<a style="color:#9191af;" href="http://www.miibeian.gov.cn" target="_blank">沪ICP备17044635号 </a></div>
			</div>
			<div style="float:left;margin-top:0px;width:10%;height:36px;">
			</div>
		</div>
	</div>
</div>

