<div class="do-footer" id="footer" name="footer">
                <div class="do-area area-ly-footer" id="footer_257778_0">
                    <div class="do-area-bg">
                        <div class="do-area-bg-conter"><div class="bgcolor"></div></div>
                    </div>
                    <div id="footer_0" class="do-row do-row-one">
                        <div class="do-row ly-footer">
                            <div class="do-col-12 do-D-c-13-14" id='D-c-13-14'>
                                <div class="do-panelcol">
                                    <div class="do-block do-space do-k8z6r">
                                        <div class="do-element-space pc" style="padding-top:6.666666666666667%;"></div>
                                        <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                                    </div>
                                    <div class="do-block do-space do-k8z6m">
                                        <div class="do-element-space" style="padding-top:5%;"></div>
                                    </div>
                                    <div class="do-block do-rows">
                                        <div class="do-row">
                                            <div class="do-col-12 do-D-c-13-14-38-39" id='D-c-13-14-38-39'>
                                                <div class="do-panelcol">
                                                    <div class="do-block do-rows">
                                                        <div class="do-row">
                                                            <div class="do-col-12 do-D-c-13-14-38-39-52-53" id='D-c-13-14-38-39-52-53'>
                                                                <div class="do-panelcol">
                                                                    <div class="do-block do-rows">
                                                                        <div class="do-row">
                                                                            <div class="do-col-12 do-D-c-13-14-38-39-52-53-60-61" id='D-c-13-14-38-39-52-53-60-61'>
                                                                                <div class="do-panelcol">
                                                                                    <div class="do-block do-text do-k8z6d">
                                                                                        <div class="do-text-agqm1">
                                                                                            <div class="do-element-text do-element-general">
                                                                                                <div class="do-element-text-content do-html">
                                                                                                    <div class="do-html-content" style="text-align: center;">
                                                                                                        <p><span style="font-size: 30px;color: rgb(0, 0, 0);font-weight:bold;">联系我们</span></p>
                                                                                                        <p style="text-align: center;"><span style="font-size: 30px;color: rgb(0, 0, 0);font-weight:bold;">CONTACT US</span></p>
                                                                                                        <p style="text-align: center;"><img src="/static/common/image/sbst.png" style="width: 269px;margin:0 auto;"></p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="do-block do-space do-k8z6c" style="text-align: center;display: -webkit-inline-box;width: 100%;">
                                                                                        <div style="width: 50%;">
                                                                                            <div style="width: 150px;float: right;margin: 15px;">
                                                                                                <img class="scrollLoading" alt="" src="/static/common/image/first.jpg" style=" margin-top: 0%; width: 100%; ">
                                                                                                <span>订阅号</span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div style="width: 50%;">
                                                                                            <div style="width: 150px;float: left;margin: 15px;">
                                                                                                <img class="scrollLoading" alt="" src="/static/common/image/second.jpg" style=" margin-top: 0%; width: 100%; ">
                                                                                                <span>服务号</span>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="do-block do-list do-k8z6b">
                                                                                        <div class="do-element-list do-text-color num1 phoneRows2 do-lineHeight-sm sm do-element-list">
                                                                                            <ul class="do-element-list-ul clearfix">
                                                                                                <li class="do-col-3"><h4 class="heading do-ellipsis"><p style="text-align: center;font-size: 16px;font-weight: bold;"><img style="height: 20px;margin-right: 5px;margin-bottom: 10px;" src="/static/common/image/phone.png">400&nbsp;6852585</p></h4></li>
                                                                                                <li class="do-col-3"><h4 class="heading do-ellipsis"><p style="text-align: center;font-size: 16px;font-weight: bold;"><img style="height: 20px;margin-right:  5px;margin-bottom: 10px;" src="/static/common/image/telephone.png">www.jrfacai.com</p></h4></li>
                                                                                                <li class="do-col-3"><h4 class="heading do-ellipsis"><p style="text-align: center;font-size: 16px;font-weight: bold;"><img style="height: 20px;margin-right:  5px;margin-bottom: 10px;" src="/static/common/image/email.png">xinbaokeji@jrfacai.com</p></h4></li>
                                                                                                <li class="do-col-3"><h4 class="heading do-ellipsis"><p style="text-align: center;font-size: 16px;font-weight: bold;"><img style="height: 20px;margin-right:  5px;margin-bottom: 10px;" src="/static/common/image/address.png">上海市浦东新区民生路1518号B座1202A</p></h4></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-block do-space do-k8z6a">
                                        <div class="do-element-space pc" style="padding-top:6.666666666666667%;"></div>
                                        <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="do-developers"> © 官网 &nbsp;&nbsp;<a href="http://www.miibeian.gov.cn">沪ICP备17044635号</a>&nbsp;&nbsp; 技术支持： 
                <a href="#" title="官网" target="_blank"><span>上海歆宝信息科技有限公司</span></a>
            </div>
        </div>
        <script src="__COMMON__/js/list.js"></script>
        <script type="text/javascript">
     	$(function () {
         var doFooterObj = $(".do-footer").length ? $(".do-footer") : $(".do-developers"),
                 doBodyObj = $(".do-banner").length ? $(".do-banner") : false || $(".do-body").length ? $(".do-body") : $("#fullpage").find(".do-area").first(),
                 bodyObj = $("body");
        	 setTimeout(function () {
             var devDownWaypoint = new Waypoint({
                 element: doBodyObj,
                 handler: function (direction) {
                     if (direction == "up") {
                         bodyObj.removeClass("zhuziAd")
                     }
                 },
                 offset: '-100px'
             })
             var devUpWaypoint = new Waypoint({
                 element: doFooterObj,
                 handler: function (direction) {
                     if (direction == "down") {
                         bodyObj.addClass("zhuziAd");
                     }
                 },
                 offset: 'bottom-in-view'
             })
         }, 300);


         var wow = new WOW({
             animateClass: 'animated',
             offset: 100,
             callback: function (box) { }
         });
         wow.init();

         if (isWeiXin() && bIsAndroid) {
             var fullArea = $(".do-area-fullHeight .do-row-one > .do-row, .do-slide-full");
             fullArea.height($(window).height());
         }

         if (head.desktop) {
             if (!_vm.online)
                 $("#do-online-service").prop("checked", true);
         } else {
             $("#do-online-service").prop("checked", false);
         }


         if (bIsAndroid) {
             $(".do-area-videobg").find("video").remove();
             var vodbgObj = $(".do-area-videobg .do-area-bg-conter");
             vodbgObj.each(function () {
                 $(this).css('background-image', 'url("' + $(this).data("vodbg") + '")');
             });
         }


         var weixinBtn = $(".weixinBtn"),
                 popwximg = $(".do-popwximg");
         if (weixinBtn.length) {
             weixinBtn.on("click", function (e) {
                 popwximg.show();
             });
             popwximg.on("click", ".do-close", function () {
                 popwximg.hide();
             });
         }

         layer.config({
             path: 'http:\/\/bk.st.styleweb.com.cn\/editor/js/layer/',
             extend: ['style.css'/*tpa=http://81vudkb0f2.s.cn.vc/skin/style.css*/],
             skin: 'layer-zhuzi'
         });


     });
     var _hmt = _hmt || [];
     (function () {
         var hm = document.createElement("script");
         hm.src = "hm.js-03e4f2f8489d3cb343fc1c99966f477b"/*tpa=http://hm.baidu.com/hm.js?03e4f2f8489d3cb343fc1c99966f477b*/;
         var s = document.getElementsByTagName("script")[0];
         s.parentNode.insertBefore(hm, s);
     })();
        </script>
    </body>
</html>
