<div class="container" style="height:300px;">
	<div class="index_footer">
		<div style="font-size:font-size:22px;height:20px;line-height:20px;margin:128px 0 53px 0;">关于我们</div>
		<div class="qrcode" style="height:114px;border:solid 1px #fff;font-size:16px;">
			<div style="float:left;text-align:center;margin-right:16px;">
				<div style="text-align:center;width:114px;height:114px;"><img src="/static/common/img/wechat_ser_qrcode.png" width="114" height="114"></div>
				<div style="text-align:center;margin-top:25px;line-height:0px;">服务号</div>
			</div>
			<div style="float:left;margin-right:16px;">
				<div style="text-align:center;width:114px;height:114px;"><img src="/static/common/img/wechat_sub_qrcode.png" width="114" height="114"></div>
				<div style="text-align:center;margin-top:25px;line-height:0px;">订阅号</div>
			</div>
			<div style="float:left;">
				<div style="text-align:center;width:114px;height:114px;"><img src="/static/common/img/weibo_qrcode.png" width="114" height="114"></div>
				<div style="text-align:center;margin-top:25px;line-height:0px;">微博</div>
			</div>
			<div style="margin-top:90px;">
				<div style="float:right;">Add.：上海市浦东新区民生路1518号（金鹰大厦）A座702</div>
				<div style="float:right;width:240px;">Email：xinbaokeji@jrfacai.com</div>
			</div>
		</div>
		<div style="text-align:right;font-size:16px;margin-top:25px;line-height:0px;">&copy;2019&nbsp;上海歆宝信息科技有限公司&nbsp;<a style="color:#9191af;" href="http://www.miibeian.gov.cn" target="_blank">沪ICP备17044635号 </a></div>
		<div style="width:30px;">&nbsp;</div>
	</div>
</div>