<!DOCTYPE html>
<html lang="zh-cn" class="do-cke">
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>{$title}</title>
        <meta name="robots" content="all" />
        <link rel="icon" href="__COMMON__/image/fa.ico">
        <meta name="description" content="找项目、找资金、找人脉，上FA財。平台通过项目与资金两端的连接，为金融投行人士打造一站式智能投融信息交互平台,。涵盖金融7大业务，覆盖80个热门细分行业，以专业化、标准化的服务为用户深度挖掘资本市场的价值。打破促成周期长、信息不对称、信用机制缺失、交易效率低下等窘境。精准匹配用户需求，为用户的信息创造应有价值，高效对接业务。为创业者、中小企业、金融从业人士、金融机构打造自己的金融朋友圈。">
		<meta name="keywords" content="FA,FA財，FA财，发财，发財,歆宝，歆宝科技，新三板，金融合伙人，互联网+金融，老股大宗交易，定向增发，股权质押，并购重组，上海歆宝信息科技有限公司，上海歆沽投资管理有限公司，专注科技创新企业服务，整体投融资解决方案专家，老股转让，S基金">
     	<link href="__COMMON__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     	<link href="__COMMON__/css/common.css" rel="stylesheet" type="text/css"/>
     	<link href="__COMMON__/css/iconfont.css" rel="stylesheet" type="text/css"/>
     	<link href="__COMMON__/css/kefu.css" rel="stylesheet" type="text/css"/>
     	<script src="__COMMON__/js/common.js"></script>
     	<script src="__COMMON__/js/vue.min.js"></script>
        <script src="__COMMON__/js/jquery-3.4.1.min.js"></script>
        <script src="__COMMON__/js/jquery.select.js"></script>
        <script src="__COMMON__/js/jquery.pagination.js"></script>
        <script src="__COMMON__/js/compress.js"></script>
    </head>
    <body>
       <div class=""></div>
