<!DOCTYPE html>
<html lang="zh-cn" class="do-cke">
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <title>FA財-一站式智能投融信息交互平台</title>
        <meta name="robots" content="all" />
        <link rel="icon" href="__COMMON__/image/fa.ico">
        <meta name="description" content="找项目、找资金、找人脉，上FA財。平台通过项目与资金两端的连接，为金融投行人士打造一站式智能投融信息交互平台,。涵盖金融7大业务，覆盖80个热门细分行业，以专业化、标准化的服务为用户深度挖掘资本市场的价值。打破促成周期长、信息不对称、信用机制缺失、交易效率低下等窘境。精准匹配用户需求，为用户的信息创造应有价值，高效对接业务。为创业者、中小企业、金融从业人士、金融机构打造自己的金融朋友圈。">
		<meta name="keywords" content="FA,FA財，FA财，发财，发財,歆宝，歆宝科技，新三板，金融合伙人，互联网+金融，老股大宗交易，定向增发，股权质押，并购重组，上海歆宝信息科技有限公司，上海歆沽投资管理有限公司，专注科技创新企业服务，整体投融资解决方案专家，老股转让，S基金">
        <link href="__COMMON__/css/style1.css" rel="stylesheet" type="text/css"/>
        <link href="__COMMON__/css/style2.css" rel="stylesheet" type="text/css"/>
        <link href="__COMMON__/css/style3.css" rel="stylesheet" type="text/css"/>
        <link href="__COMMON__/css/index.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript">
            var StaticUrl = 'http:\/\/bk.st.styleweb.com.cn\/';
            var sUserAgent = navigator.userAgent.toLowerCase();
            var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
            var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
            var bIsMidp = sUserAgent.match(/midp/i) == "midp";
            var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
            var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
            var bIsAndroid = sUserAgent.match(/android/i) == "android";
            var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
            var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
            var browser = navigator.appName;
            var b_version = navigator.appVersion;
            var version = b_version.split(";");
            var _vm = {};
            var trim_Version = version[1] ? version[1].replace(/[ ]/g, "") : "";
            var isIe = {
                ie6: browser == "Microsoft Internet Explorer" && trim_Version == "MSIE6.0",
                ie7: browser == "Microsoft Internet Explorer" && trim_Version == "MSIE7.0",
                ie8: browser == "Microsoft Internet Explorer" && trim_Version == "MSIE8.0",
                ie9: browser == "Microsoft Internet Explorer" && trim_Version == "MSIE9.0"
            }
            function isWeiXin() {
                var ua = window.navigator.userAgent.toLowerCase();
                if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                    return true;
                } else {
                    return false;
                }
            }
            var version = {'css': '2017116122158', 'js': '2017116122158'};
            function setCookie(c_name, value, expiredays)
            {
                var exdate = new Date()
                exdate.setDate(exdate.getDate() + expiredays)
                document.cookie = c_name + "=" + escape(value) + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString())
            }
            setCookie("time_offset", -new Date().getTimezoneOffset() / 60);
        </script>
        <script src="__COMMON__/js/jquery.min.js"></script>
        <link rel="stylesheet" href="__COMMON__/css/style4.css">
        <script>
            (function () {
                var obj = (document.getElementsByTagName('head')[0] || body),
                        js = null;
                if (location.search == "?debug=true") {
                    js = document.createElement('script');
                    js.type = 'text/javascript';
                    js.onload = function () {
                        new VConsole();
                    };
                    js.onerror = function (e) {
                        alert("vonsole.js load error,err:" + e);
                    };
                    js.src = "vconsole.min.js"/*tpa=http:////bk.st.styleweb.com.cn//editor/js/vconsole.min.js*/;
                    obj.appendChild(js);
                }
            })();
        </script>
        <!-- <script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?94f43257791a0da7e168fa388888796e";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>-->
    </head>
    <body do-page-width="1" class="fr-element fr-view do-page-257778" do-phone-nav="do-drop-half" do-phonenav-slip-direction="right-to-left" do-phonenav-btnalign="do-navBtn-right">
        <div style="display: none">
            <img src="__COMMON__/image/facai.jpg"/>
        </div>
        <div class="do-nav-mwp do-nav-phone">
            <input type="checkbox" id="do-m-menustate" class="do-m-menustate">
            <div class="do-nav-m do-nav-no-fixed">
                <div class="do-nav-m-title animate">
                    <div class="do-site-name">
                        <h3>
                            <a href="http://{$root_path}">
                                <img class="animate" src="__COMMON__/image/facai.jpg" alt="官网"/>
                            </a>
                        </h3>
                    </div>
                    <div class="do-m-menustate do-btn-line do-nav-btn">
                        <label class="do-m-menu-btn" for="do-m-menustate"><span></span><span></span><span></span></label>
                    </div>
                </div>
                <div class="do-phoneNav-overlay"></div>
                <div class="do-nav-m-bar animate">
                    <ul class="do-nav-m-ul clearfix">
                        <li class="nav257778 active" data-id="257778"><a href="http://{$root_path}#head"><span>首页</span></a></li>
                        <li class="nav257780" data-id="257780"><a href="http://{$root_path}#area_257778_0"><span>平台介绍</span></a></li>
                        <li class="nav257781" data-id="257781"><a href="http://{$root_path}#area_257778_1"><span>主营业务</span></a></li>
                        <li class="nav257782" data-id="257782"><a href="http://{$root_path}#area_257778_6"><span>资讯中心</span></a></li>
                        <li class="nav257783" data-id="257783"><a href="http://{$root_path}#area_257778_2"><span>合作中心</span></a></li>
                        <li class="nav257784" data-id="257784"><a href="http://{$root_path}#footer"><span>联系我们</span></a></li>
                    </ul>
                    <div class="do-site-name animate do-nav-m-bar-name">
                        <h3 ></h3>
                        <h3 ><a href="http://{$root_path}"><img class="animate" /></a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-adrift"><div class="do-gotop"><i class="icon-rocket"></i></div></div>
        <div class="do-container animate" style="padding: 122px 0 0;">
            <div class="do-section fp-auto-height do-header" data-fullname="TOP" style="position: fixed;left: 0;top: 0;right: 0;z-index: 1111;">
                <div class="do-area" id="header_257778_0">
                    <div class="do-area-bg"><div class="do-area-bg-conter"><div class="bgcolor"></div></div></div>
                    <div class="do-row do-row-one">
                        <div class="do-row ">
                            <div class="do-col-12 do-H-c-41-42" id='H-c-41-42'>
                                <div class="do-panelcol">
                                    <div class="do-block do-text do-k8z69">
                                        <div class="do-text-afz17">
                                            <div class="do-element-text do-element-general">
                                                <div class="do-element-text-content do-html">
                                                    <div class="do-html-content">
                                                        <div style="text-align: right; line-height: 2;">
                                                            <span style="color: rgb(255, 255, 255); font-size: 16px;">服务热线：400&nbsp;6852585</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="do-area" id="header_257778_1">
                    <div class="do-area-bg"><div class="do-area-bg-conter"><div class="bgcolor" style="background-color: white;"></div></div></div>
                    <div class="do-row do-row-one">
                        <div class="do-row ">
                            <div class="do-col-12 do-H-c-44-45" id='H-c-44-45'>
                                <div class="do-panelcol">
                                    <div class="do-block do-rows">
                                        <div class="do-row">
                                            <div class="do-col-2 do-H-c-44-45-47-48" id='H-c-44-45-47-48'>
                                                <div class="do-panelcol">
                                                    <div class="do-block do-logo do-k8z68">
                                                        <div class="do-logo">
                                                            <div class="z-logo align-center size11">
                                                                <a href="http://{$root_path}" title=""><img src="__COMMON__/image/facai.jpg" alt=""/></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="do-col-10 do-H-c-44-45-47-50" id='H-c-44-45-47-50'>
                                                <div class="do-panelcol">
                                                    <div class="do-block do-nav do-k8z67">
                                                        <div class="z-nav align-center">
                                                            <div class="z-nav-bar">
                                                                <div class="z-nav-container">
                                                                    <ul class="z-nav-conter clearfix">
                                                                        <li class="nav257778 active" data-id="257778"><a href="http://{$root_path}#head"><span>首页2</span></a></li>
                                                                        <li class="nav257780" data-id="257780"><a href="http://{$root_path}#area_257778_0"><span>平台介绍</span></a></li>
                                                                        <li class="nav257781" data-id="257781"><a href="http://{$root_path}#area_257778_1"><span>主营业务</span></a></li>
                                                                        <li class="nav257782" data-id="257782"><a href="http://{$root_path}#area_257778_6"><span>资讯中心</span></a></li>
                                                                        <li class="nav257783" data-id="257783"><a href="http://{$root_path}#area_257778_2"><span>合作中心</span></a></li>
                                                                        <li class="nav257784" data-id="257784"><a href="http://{$root_path}#footer"><span>联系我们</span></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="z-nav-btn">
                                                                <span class="line-1"></span>
                                                                <span class="line-2"></span>
                                                                <span class="line-3"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-block do-code do-k8z66">
                                        <div class="do-element-code"><div class="do-element-code-content"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
