{include file="base/header" /}
<style>
    .tianjiayangsi{
        padding: 0;
        height: 228px;
    }
    .tianjiayangsi .do-media-image-conter{
        background: rgba(0, 0, 0,0.6);
        z-index: 1;
        opacity: 1;
        -webkit-transition: all ease 1s;
        -moz-transition: all ease 1s;
        transition: all ease 1s;
    }
    .tianjiayangsi .do-media-image-conter img{
        -webkit-transition: all ease 1s ;
        -moz-transition: all ease 1s ;
        transition: all ease 1s ;
        opacity: 1;
    }
    .tianjiayangsi .media-img{
        position: static;
        height: 228px;
        width: 100%;
    }
    .tianjiayangsi:hover .do-media-image-conter{
        opacity: 0;
    }
    .tianjiayangsi:hover .do-media-image-conter img{
        opacity: 0;
    }
</style>
            <div class="do-section fp-auto-height do-banner" data-fullname="BANNER" id="head" name="head">
                <div class="do-area do-area-full" id="banner_257778_0">
                    <div class="do-area-bg ">
                        <div class="do-area-bg-conter" style="background-image: url('__COMMON__/image/bggg.png');" >
                            <div class="bgcolor"></div>
                        </div>
                    </div>
                    <div id="banner_0" class="do-row do-row-one ">
                        <div class="do-row ">
                            <div class="do-col-12 do-B-c-49-50" id='B-c-49-50'>
                                <div class="do-panelcol">
                                    <div class="do-block do-space do-k8z87">
                                        <div class="do-element-space pc" style="padding-top:9.386733416770964%;"></div>
                                        <div class="do-element-space phone" style="padding-top:9.580130100532228%;"></div>
                                    </div>
                                    <div class="do-block do-space do-k8z85">
                                        <div class="do-element-space" style="padding-top:5%;"></div>
                                    </div>
                                    <div class="do-block do-rows">
                                        <div class="do-row">
                                            <div class="do-col-12 do-B-c-11-12-96-100" id='B-c-11-12-96-100'>
                                                <div class="do-panelcol">
                                                    <div class="do-block do-rows">
                                                        <div class="do-row">
                                                            <div class="do-col-7 do-B-c-11-12-14-15-123-124" id='B-c-11-12-14-15-123-124'>
                                                                <div class="do-panelcol">
                                                                    <div class="do-block do-space do-k8z84">
                                                                        <div class="do-element-space pc" style="padding-top:5%;"></div>
                                                                        <div class="do-element-space phone" style="padding-top:26.12359550561798%;"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-col-5 do-B-c-11-12-14-15-126" id='B-c-11-12-14-15-126'>
                                                                <div class="do-panelcol">
                                                                    <div class="do-block do-rows">
                                                                        <div class="do-row">
                                                                            <div class="do-col-12 do-B-c-11-12-15-16-17-20-182-183-193-194" id='B-c-11-12-15-16-17-20-182-183-193-194'>
                                                                                <div class="do-panelcol">
                                                                                    <div class="do-block do-text do-k8z89">
                                                                                        <div class="do-text-ahp21">
                                                                                            <div class="do-element-text do-element-general">
                                                                                                <div class="do-element-text-content do-html">
                                                                                                    <div class="do-html-content">
                                                                                                        <!-- <p style="text-align: left;">
                                                                                                            <img src="__COMMON__/image/fonts.png">

                                                                                                        </p> -->
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="do-col-4 do-B-c-11-12-15-16-17-20-182-183-196" id='B-c-11-12-15-16-17-20-182-183-196'>
                                                                                <div class="do-panelcol">
                                                                                    <div class="do-block do-space do-k8z8a">
                                                                                        <div class="do-element-space pc" style="padding-top:5%;"></div>
                                                                                        <div class="do-element-space phone hide" style="padding-top:5%;"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="do-block do-space do-k8z86">
                                                        <div class="do-element-space pc" style="padding-top:5%;"></div>
                                                        <div class="do-element-space phone" style="padding-top:42.97752808988764%;"></div>
                                                    </div>
                                                    <div class="do-block do-code do-k8z88">
                                                        <div class="do-element-code">
                                                            <div class="do-element-code-content"></div>
                                                        </div>
                                                    </div>
                                                    <div class="do-block do-space do-k8z71">
                                                        <div class="do-element-space pc" style="padding-top:26.408010012515643%;"></div>
                                                        <div class="do-element-space phone hide" style="padding-top:8.426966292134832%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="do-body">
                <div class="do-section do-area do-area-full" id="area_257778_0" name="area_257778_0">
                    <div class="do-area-bg ">
                        <div class="do-area-bg-conter" ><div class="bgcolor"></div></div>
                    </div>
                    <div id="area_0" class="do-row do-row-one ">
                        <div class="do-row ">
                            <div class="do-col-12 do-D-c-30-31" id='D-c-30-31'>
                                <div class="do-panelcol">
                                    <div class="do-block do-list do-k8z6y">
                                        <div class="do-element-media x num2 phoneRows2 ly-news2">
                                            <div class="do-element-media-content " id="swiper_k8z6y" data-rows="2" data-phoneRows="2" data-initialSlide="0" data-slidesPerColumn="1" >
                                                <ul class="do-element-media-ul x do-content-list ">
                                                    <li class="do-element-media-li pgid-257780 " style="width:100%;">
                                                        <div class="do-element-media-conter clearfix do-caption ">
                                                            <div class="do-title do-html-content" style="height: 661px;">
                                                                <div class="do-title-body">
                                                                    <div class="do-title-content do-html-content">
                                                                        <div class="do-html-content title">
                                                                            <p style="text-align: center; line-height: 2;">
                                                                                <span style="font-size: 30px;">
                                                                                    <strong class=""><span style="font-size: 30px; color: rgb(0, 0, 0);">平台介绍</span></strong>
                                                                                </span>
                                                                            </p>
                                                                            <p style="text-align: center; line-height: 2;">
                                                                                <span style="font-size: 30px;">
                                                                                    <strong class=""><span style="font-size: 30px; color: rgb(0, 0, 0);">PLATFORM INTRODUCTION</span></strong>
                                                                                </span>
                                                                            </p>
                                                                            <p style="text-align: center; line-height: 2;">
                                                                              <img src="/static/common/image/sbst.png" style="width: 239px;margin:0 auto;">
                                                                            </p>
                                                                        </div>
                                                                        <div class="do-html-content des clearfix" style="height: 510px;">

                                                                            <div class="left-cm" style="float: left;width: 70%;">
    <div class="top-cm clearfix" style="
    width: 70%;padding-left: 19px;
">
        <p class="top-cm-left" style="float:left;width: 10px;height: 28px;line-height: 44px;">
            <img src="/static/common/image/shu.png" style="
    /* width: 10px; */
    /* height: 51px; */
">
        </p>
        <p class="top-cm-right" style="float: left;font-size: 21px;height: 28px;margin-left: 10px;color: #007fed;">
            找项目、找资金、找人脉，上FA財
        </p>
    </div>
    <div class="bootom-cm" style="
    margin-top: 27px;
    color: black;
    font-size: 16px;
    letter-spacing:5px;
">
        平台通过项目与资金两端的连接，为金融投行人士打造一站式智能投融信息<br/>
        交互平台。涵盖金融7大业务，覆盖80个热门细分行业，以专业化、标准化<br/>的服务为用户深度挖掘资本市场的价值。打破促成周期长、信息不对称、信<br/>用机制缺失、交易效率低下等窘境。
        <br/><br/>
精准匹配用户需求，为用户的信息创造应有价值，高效对接业务。为创业<br/>者、中小企业、金融从业人士、金融机构打造自己的金融朋友圈。
    </div>
</div>
<div class="right-cm" style="float: left;width: 11%;margin-left: 44px;">
    <img src="/static/common/image/mobile.png">
</div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-block do-code do-k8z6x">
                                        <div class="do-element-code">
                                            <div class="do-element-code-content"></div>
                                        </div>
                                    </div>
                                    <div class="do-block do-code do-k8z6w">
                                        <div class="do-element-code"><div class="do-element-code-content"></div></div>
                                    </div>
                                    <div class="do-block do-space do-k8z6v">
                                        <div class="do-element-space pc" style="padding-top:4.166666666666666%;"></div>
                                        <div class="do-element-space phone" style="padding-top:5%;"></div>
                                    </div>
                                    <div class="do-block do-code do-k8z6u">
                                        <div class="do-element-code">
                                            <div class="do-element-code-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="do-section do-area" id="area_257778_1" name="area_257778_1">
                    <img src="/static/common/image/main_service.png">
                    <!-- <div class="do-area-bg "><div class="do-area-bg-conter" ><div class="bgcolor"></div></div></div>
                    <div id="area_1" class="do-row do-row-one ">
                        <div class="do-row ">
                            <div class="do-col-12 do-D-c-8-9" id='D-c-8-9'>
                                <div class="do-panelcol">
                                    <div class="do-block do-text do-k8z7f">
                                        <div class="do-text-ag1f8">
                                            <div class="do-element-text do-element-general">
                                                <div class="do-element-text-content do-html">
                                                    <div class="do-html-content">
                                                        <p style="text-align: center; line-height: 1;">
                                                            <span style="font-size: 36px;">主营业务</span>
                                                        </p>
                                                        <p style="text-align: center; line-height: 1;">
                                                            <img src="__COMMON__/image/111.png">
                                                        </p>
                                                        <p style="text-align: center; line-height: 1;"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-block do-space do-k8z7e">
                                        <div class="do-element-space pc" style="padding-top:3.621001810500905%;"></div>
                                        <div class="do-element-space phone" style="padding-top:5%;"></div>
                                            
                                    </div>
                                    <div class="do-block do-list do-k8z70">
                                        <div class="do-element-media x num3 phoneRows2 ">
                                            <div class="do-element-media-content md" id="swiper_k8z70" data-rows="3" data-phoneRows="2" data-initialSlide="0" data-slidesPerColumn="1" >
                                                <ul class="do-element-media-ul x do-content-grid ">
                                                    <li class="do-element-media-li" style="width:50%;">
                                                        <div class="do-element-media-conter clearfix do-caption ">
                                                            <div class="do-media-image-box o-mask">
                                                                <div class="do-media-image tianjiayangsi">
                                                                    <div class="do-media-image-conter sizeimg ">
                                                                        <div class="do-middle">
                                                                            <div class="do-middle-center">
                                                                                <img class="scrollLoading" src="__COMMON__/image/icon1.png" alt="大宗交易" style="width:26%;"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <img class="media-img" src="__COMMON__/image/1.png" alt="大宗交易">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>
                                                    <li class="do-element-media-li" style="width:49%;">
                                                        <div class="do-element-media-conter clearfix do-caption ">
                                                            <div class="do-media-image-box o-mask">
                                                                <div class="do-media-image tianjiayangsi">
                                                                    <div class="do-media-image-conter sizeimg ">
                                                                        <div class="do-middle">
                                                                            <div class="do-middle-center">
                                                                                <img class="scrollLoading" src="__COMMON__/image/icon2.png" alt="定向增发" style="width:26%;"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <img class="media-img" src="__COMMON__/image/2.png" alt="定向增发">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>
                                                    <li class="do-element-media-li" style="width:100%;">
                                                        <div class="do-element-media-conter clearfix do-caption "></div>
                                                    </li>
                                                    <li class="do-element-media-li" style="width:50%;">
                                                        <div class="do-element-media-conter clearfix do-caption ">
                                                            <div class="do-media-image-box o-mask">
                                                                <div class="do-media-image tianjiayangsi">
                                                                    <div class="do-media-image-conter sizeimg ">
                                                                        <div class="do-middle">
                                                                            <div class="do-middle-center">
                                                                                <img class="scrollLoading" src="__COMMON__/image/icon3.png" alt="股权质押" style="width:26%;"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <img class="media-img" src="__COMMON__/image/3.png" alt="股权质押">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>
                                                    <li class="do-element-media-li" style="width:49%;">
                                                        <div class="do-element-media-conter clearfix do-caption ">
                                                            <div class="do-media-image-box o-mask">
                                                                <div class="do-media-image tianjiayangsi">
                                                                    <div class="do-media-image-conter sizeimg ">
                                                                        <div class="do-middle">
                                                                            <div class="do-middle-center">
                                                                                <img class="scrollLoading" src="__COMMON__/image/icon4.png" alt="并购重组" style="width:26%;"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <img class="media-img" src="__COMMON__/image/4.png" alt="并购重组">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-block do-space do-k8z6z">
                                        <div class="do-element-space pc" style="padding-top:8.333333333333332%;"></div>
                                        <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="do-section area-ly-btn2 do-area" id="area_257778_6" name="area_257778_6"><div class="do-area-bg "><div class="do-area-bg-conter" ><div class="bgcolor"></div></div></div><div id="area_6" class="do-row do-row-one ly-btn2"><div class="do-row ly-btn2"><div class="do-col-12 do-D-c-26-27" id='D-c-26-27'><div class="do-panelcol"><div class="do-block do-space do-k8z83"><div class="do-element-space pc" style="padding-top:3.3333333333333335%;"></div><div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div></div><div class="do-block do-text do-k8z82"><div class="do-text-ah1e7"><div class="do-element-text do-element-general"><div class="do-element-text-content do-html"><div class="do-html-content">
                    <p style="text-align: center; line-height: 1;"><span style="font-size: 30px; color: rgb(0, 0, 0);font-weight:bold;">资讯中心</span></p>
                    <p style="text-align: center; line-height: 1;"><span style="font-size: 30px; color: rgb(0, 0, 0);font-weight:bold;">INFORMATION CENTER</span></p>
                    <p style="text-align: center; line-height: 1;"><img src="__COMMON__/image/sbst.png" style="width: 269px;margin:0 auto;"></p>
                                                        <!--<p style="text-align: center; line-height: 1;">把你的安全交付于我们，让我们为你做好背后的一切。把你的安全交付于我们，让我们为你做好背后。</p>-->
                                                    </div></div></div></div></div><div class="do-block do-space do-k8z81"><div class="do-element-space" style="padding-top:5%;"></div></div><div class="do-block do-list do-k8z80"><div class="do-element-media x do-time-open num2 phoneRows2 ly-ifm-border"><div class="do-element-media-content md" id="swiper_k8z80" data-rows="2" data-phoneRows="2" data-initialSlide="0" data-slidesPerColumn="1" >
                                                <ul class="do-element-media-ul x do-content-list ">
                                                    {foreach name="$list" item="it"}
                                                    <li class="do-element-media-li " data-wow-delay=".0s">
                                                        <a href='{:url("Consultation/index",["id" => $it.con_id])}' target="_blank">
                                                            <div class="do-element-media-conter clearfix do-caption">
                                                                <div class="do-media-image-box o-mask" style="float: left!important;width: 36%;margin-right:12px;position: relative;">
                                                                    <div class="do-media-image">
                                                                        <div class="do-media-image-conter do-img-cover">
                                                                            <img class="scrollLoading loadingEnd" alt="{$it.title}" src="{$it.top_img_url}" style="margin-left: 0%; margin-top: -2.07681%; width: 100%; height: 106.682%;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="do-title do-html-content">
                                                                    <div class="do-title-body">
                                                                        <div class="do-title-content do-html-content">
                                                                            <div class="do-html-content title js-toclamp do-ellipsis" data-clampnum="1">{$it.title}</div>
                                                                            <div class="do-html-content des">
                                                                                <p class="js-toclamp" data-clampnum="2">{$it.des}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    {/foreach}
                                                    </ul>
                                            </div></div></div><div class="do-block do-space do-k8z7z"><div class="do-element-space" style="padding-top:5%;"></div></div><div class="do-block do-buttons do-k8z7v"><style>.do-ah1dx .do-btn { color:rgb(255, 255, 255);background-color:rgb(249, 171, 81);padding:16px 40px 16px 40px ; }.do-ah1dx .do-btn ,.do-ah1dx .do-btn p,.do-ah1dx .do-btn span { font-size:16px; }</style><div class="do-element-buttons" style="white-space: initial;"><div class="do-element-button-content align-center" style="position: relative;"><ul><li class="do-agqlv-1"><div class="do-html-content"><a class="do-btn do-btn-style" href='{:url("Consultation/lists")}' style="border-radius: 25px;width: 147px;color:white;background-color:#007fed;"><p>查看更多</p></a></div></li></ul></div></div></div><div class="do-block do-code do-k8z7y"><div class="do-element-code"><div class="do-element-code-content"></div></div></div>
                                    <div class="do-block do-code do-k8z7x">
                                        <div class="do-element-code">
                                            <div class="do-element-code-content"></div>
                                        </div>
                                    </div>
                                    <div class="do-block do-space do-k8z7w">
                                        <div class="do-element-space pc" style="padding-top:6.666666666666667%;"></div>
                                        <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="do-section do-area" id="area_257778_2" name="area_257778_2">
                    <div class="do-area-bg ">
                        <div class="do-area-bg-conter" style="background-attachment:fixed" >
                            <div class="bgcolor" style="background-color:#f4f5f9;"></div>
                        </div>
                    </div>
                    <div id="area_2" class="do-row do-row-one ">
                        <div class="do-row ">
                            <div class="do-col-12 do-D-c-8-9" id='D-c-8-9'>
                                <div class="do-panelcol">
                                    <div class="do-block do-space do-k8z6t">
                                        <div class="do-element-space pc" style="padding-top:6.666666666666667%;">
                                        </div>
                                        <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                                            
                                    </div>
                                    <div class="do-block do-text do-k8z7c">
                                        <div class="do-text-ag7no">
                                            <div class="do-element-text do-element-general">
                                                <div class="do-element-text-content do-html">
                                                    <div class="do-html-content">
                                                        <p style="text-align: center;"><span style="font-size: 30px; color: rgb(0, 0, 0);font-weight:bold;">合作中心</span></p>
                                                        <p style="text-align: center;font-weight:bold;"><span style="font-size: 30px; color: rgb(0, 0, 0);">COOPERATION CENTER</span></p>
                                                        <p style="text-align: center;"><img src="/static/common/image/sbst.png" style="width: 269px;margin:0 auto;"></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-block do-space do-k8z7b">
                                        <div class="do-element-space" style="padding-top:5%;"></div>
                                    </div>
                                    <div class="do-block do-list do-k8z7d">
                                        <div class="do-element-media x num2 phoneRows1 ">
                                            <div class="do-element-media-content swiper-container do-list-swiper" id="swiper_k8z7d" data-rows="2" data-phoneRows="1" data-initialSlide="0" data-slidesPerColumn="1" data-autoplay="3000" >
                                                <ul class="do-element-media-ul x do-content-list ">
                                                    <li class="do-element-media-li pgid-257781" style="float:left;">
                                                        <div class="do-element-media-conter clearfix do-caption ">
                                                            <div class="do-media-image-box o-mask">
                                                                <div class="do-media-image">
                                                                    <div class="do-media-image-conter">
                                                                        <img class="scrollLoading" alt="" src="__COMMON__/image/11.png" style="margin-left: -12.6551%; margin-top: 0%; width: 125.31%; " />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-title do-html-content" style="padding:20px 60px;">
                                                                <div class="do-title-body">
                                                                    <div class="do-title-content do-html-content">
                                                                        <div class="do-html-content title">
                                                                            <p style="text-align:center;"><span style="font-size: 24px; color: white;padding: 5px 15px;border-radius: 20px;background-color:#007fed;">合作支持</span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-title do-html-content" style="padding:20px 60px;">
                                                                <div class="do-title-body">
                                                                    <div class="do-title-content do-html-content">
                                                                        <div class="do-html-content des">
                                                                            <p style="font-size: 16px; color: rgb(0,0,0);text-indent: 2em;line-height: 30px;margin: 0px;">FA財现对外开放平台【活动中心】【路演中心】【学习中心】等三块区域的对外内容合作方案...</p>
                                                                            <p><span style="font-size: 16px; color: rgb(0, 127, 237);float: right;"><a href='{:url("FrendShop/listFirst")}'>查看详情>></a></span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </li>
                                                    <li class="do-element-media-li pgid-257781" style="float:right;">
                                                        <div class="do-element-media-conter clearfix do-caption ">
                                                            <div class="do-media-image-box o-mask">
                                                                <div class="do-media-image">
                                                                    <div class="do-media-image-conter">
                                                                        <img class="scrollLoading" alt="" src="__COMMON__/image/22.png" style="margin-left: -12.6551%; margin-top: 0%; width: 125.31%; " />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-title do-html-content" style="padding:20px 60px;">
                                                                <div class="do-title-body">
                                                                    <div class="do-title-content do-html-content">
                                                                        <div class="do-html-content title">
                                                                            <p style="text-align:center;"><span style="font-size: 24px; color: white;padding: 5px 15px;border-radius: 20px;background-color:#007fed;">申请加盟</span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-title do-html-content" style="padding:20px 60px;">
                                                                <div class="do-title-body">
                                                                    <div class="do-title-content do-html-content">
                                                                        <div class="do-html-content des">
                                                    
                                                                            <p style="font-size: 16px; color: rgb(0,0,0);text-indent: 2em;line-height: 30px;margin: 0px;"> 如何加盟FA財?通过注册成为FA財合伙人并通过客服[FA財哥]进行申请,通过审核后即可加盟FA財...</p>
                                                                            <p><span style="font-size: 16px; color: rgb(0, 127, 237);float: right;"><a href='{:url("FrendShop/listSecond")}'>查看详情>></a></span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-block do-space do-k8z6s">
                                        <div class="do-element-space pc" style="padding-top:6.666666666666667%;"></div>
                                        <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{include file="base/footer" /}
