{include file="base/header_new" /}
	<div class="container" style="height:130px;">
		<div class="index_header" style="margin-left:0px;">
			<div style="float:left;margin-top:45px;"><a href="/"><img src="/static/common/img/logo.png" title="FA財"></a></div>
			<ul class="hList">
				 <li><a href="/home/member/index" title="个人中心"><img src="/static/common/img/member_icon.png" title="个人中心"></a></li>
				 <li><a href='{:url("Trilateral/index")}' title="三方演绎">三方演绎</a></li>
				 <li>
				    <a href="#click" class="menu" title="资讯研报"> 资讯研报
				      <ul class="menu-dropdown">
				        <li onclick="viewNews()" title="资讯中心">资讯中心</li>
				        <li onclick="viewReport()" title="研报中心">研报中心</li>
				      </ul>
				    </a>
				</li>
				<li><a href='{:url("Index/listorganize")}' title="找资金">找资金</a></li>
				<li><a href='{:url("Index/listproject")}' title="找项目">找项目</a></li>
				<li><a style="font-size:22px;color:#222222;" href="javascript:;" title="首页">首页</a></li>
			</ul>
		</div>
	</div>
	 <div class="container index_bg">
		<div class="index_search">
			<div class="index_search_left">
				<div style="margin:0 32px 0 32px;"><img src="/static/common/img/search_icon.png"></div>
			</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
			<div class="index_search_mid">
				<input type="text" placeholder="输入项目、资金、需求" id="keyword" value="" style="color:#fff;">
			</div>
			<div class="index_search_right"><a href="javascript:;" onclick="searchKey()" title="立即搜索">立即搜索</a></div>
		</div>
	</div>
	<div class="container" style="height:1600px;">
	<div class="hot_header"><span title="精选推荐">精选推荐</span></div>
		<div class="container_left" style="height:1000px;">
			{foreach name="$list_news" item="it"}
			<div class="hot_news">                                                                                                                                                                                                                                                          
				<a href="javascript:;" title="{$it.des}">
				<div class="hot_news_content">
					<div style="width:100%;height:38px;" onclick="openView('/home/news/index/id/{$it.id}')"></div>
					<div style="float:left;width:49px;height:190px;" onclick="openView('/home/news/index/id/{$it.id}')"></div>
					<div style="float:left;width:90%;height:190px;">
					 	<div class="list_sort_industry" style="float:left;line-height:30px;width:68px;font-size:14px;margin-bottom:30px;" onclick="openView('/home/news/index/id/{$it.id}')" >热门资讯</div> 
						<div class="list_title" style="margin-left:78px;margin-bottom:30px;" title="{$it.title}" onclick="openView('/home/news/index/id/{$it.id}')">{$it.title}
							<div style="float:right;text-align:center;line-height:30px;color:#9191af;" >
								{if condition="$it.is_hot eq 1"}
	                            <img src="/static/common/img/hot_icon.png" width="22" height="28">
	                            {/if}
							</div>
						</div>
						<div class="list_content" style="float:left;width:100%;font-size:14px;" onclick="openView('/home/news/index/id/{$it.id}')">
							<div style="float:left;line-height:23px;text-align:left;">关键词</div>
							{foreach name="$it.dict_list" item="dict"}
								<div class="list_industry" style="margin-left:15px;" title="{$dict.dict_name}">&nbsp;&nbsp;{$dict.dict_name}&nbsp;&nbsp;</div>
							{/foreach}
						</div>
						<div class="list_content" style="font-size:14px;">关联项目
							<span class="list_service" style="margin-left:15px;" title="{$it.related_title}" onclick="Newsdetail('{$it.related_url}')">&nbsp;&nbsp;{$it.related_title}&nbsp;&nbsp;</span>
							<div class="icon-time" style="float:right;font-size:18px;text-align:right;line-height:30px;width:500px;color:#9191af;" title="{$it.news_date}" onclick="openView('/home/news/index/id/{$it.id}')">
								<span style="font-size:14px;">{$it.news_date}</span>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div style="height:37px;"></div>
			{/foreach}
			<div class="index_more" onclick="viewNews()">查看更多资讯</div>
			<div style="height:37px;"></div>
			{foreach name="$list_report" item="it"}
			<div class="hot_news">
				<a href='{:url("IndustryReport/index",["id" => $it.id])}' target="_blank" title="{$it.des}">
				<div class="hot_news_content">
					<div style="width:100%;height:38px;"></div>
					<div style="float:left;width:49px;height:190px;"></div>
					<div style="float:left;width:90%;height:190px;">
					 	<div class="list_sort_service" style="float:left;line-height:30px;width:68px;font-size:14px;margin-bottom:30px;">行业研报</div> 
						<div class="list_title" style="margin-left:78px;margin-bottom:30px; title="{$it.title}">{$it.title}
							<div style="float:right;text-align:center;line-height:30px;color:#9191af;" >
								{if condition="$it.is_hot eq 1"}
	                            <img src="/static/common/img/hot_icon.png" width="22" height="28">
	                            {/if}
							</div>
						</div>
						<div class="list_content" style="float:left;width:100%;">
							<div style="float:left;line-height:23px;">关键词</div>
							{foreach name="$it.dict_list" item="dict"}
								<div class="list_industry" style="margin-left:15px;" title="{$dict.dict_name}">&nbsp;&nbsp;{$dict.dict_name}&nbsp;&nbsp;</div>
							{/foreach}
						</div>
						<div class="list_content" style="font-size:14px;">关联项目<span class="list_service" style="margin-left:15px;" title="{$it.related_title}">&nbsp;&nbsp;{$it.related_title}&nbsp;&nbsp;</span>
							<div class="icon-time" style="float:right;font-size:18px;text-align:center;line-height:30px;color:#9191af;" title="{$it.report_date}">
								<span style="font-size:14px;">{$it.report_date}</span>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div style="height:37px;"></div>
			{/foreach}
			<div class="index_more" onclick="viewReport()">查看更多研报</div>
		</div>
		<div style="float:right;height:1000px;width:500px;">
			{foreach name="$show['pro-data']['data']" item="pro"}
				<div class="right_card">
					<a href='{:url("Project/index",["id" => $pro.id])}' target="_blank" title="{$pro.name}">
						<div class="right_card_content">
							<div style="width:450px;">
								<div class="list_title" style="margin:22px 44px 27px 44px;line-height:50px;height:50px;" title="{$pro.name}">{$pro.name}
									<div style="float:right;width:46px;height:46px;border-radius:23px;"><img src="/static/common/img/default.png"></div>
								</div>
							</div>
							<div class="list_content" style="line-height:30px;width:360px;margin-left:44px;height:60px;" title="{$pro.introduction}">{$pro.bottom}</div>
							<div style="font-size:14px;margin:0 44px 44px 44px;line-height:40px;height:40px;">
								<div style="float:left;color:#ff2359;"><span title="">{$pro.label1}</span><span style="margin-left:16px;" title="{$pro.label2}">{$pro.label2}</span></div>
								<div style="float:left;width:50px;height:30px;"></div>
								<div style="float:right;text-align:center;line-height:30px;color:#9191af;" title="{$pro.view_num}人浏览">{$pro.view_num}人浏览</div>
							</div>
						</div>
					</a>
				</div>
				<div style="float:right;width:450px;height:30px;"></div>
			{/foreach}
			
			{foreach name="$show['org-data']['data']" item="org"}
			<div class="right_card">
					<a href='{:url("Organize/index",["id" => $org.id])}' target="_blank" title="{$org.name}">
						<div class="right_card_content">
							<div style=";width:450px;">
								<div class="list_title" style="margin:22px 44px 27px 44px;line-height:50px;height:50px;" title="{$org.name}">{$org.name}
									{if condition="$org.url eq '' "}
										<div style="float:right;width:46px;height:46px;border-radius:23px;"><img src="/static/common/img/default.png"></div>
									{else /}
										<div class="item_bg" style="{$org.style_bg_url}"></div>
									{/if}
								</div>
							</div>
							<div class="list_content" style="line-height:30px;margin-left:44px;height:60px;" title="{$org.bottom}">{$org.bottom}</div>
							<div style="font-size:14px;margin:0 44px 44px 44px;line-height:40px;height:40px;">
								<div style="float:left;color:#2e77f5;">
									{foreach name="$org.dict_list" item="rsdt"}
									<span style="margin-right:8px;" title="{$rsdt.dict_name}">{$rsdt.dict_name}</span>
									{/foreach}
								</div>
								<div style="float:left;width:50px;height:30px;"></div>
								<div style="float:right;text-align:center;line-height:30px;color:#9191af;" title="{$org.view_num}人浏览">{$org.view_num}人浏览</div>
							</div>
						</div>
					</a>
				</div>
				<div style="float:right;width:450px;height:30px;"></div>
			{/foreach}
			
			<div class="right_banner_index">
				<a href="/home/project/prolist/id/2"><img src="/static/common/img/banner2.png" width="440"></a>
			</div>
			<div class="right_banner_index">
				<a href="/home/project/prolist/id/1"><img src="/static/common/img/banner3.png" width="440"></a>
			</div>
			<div class="right_banner_index">
				<a href="/home/project/prolist/id/4"><img src="/static/common/img/banner4.png" width="440"></a>
			</div>
		</div>
	</div>
	
	<div class="container" style="height:360px;">
		<div class="service_box" onclick="openService(1)">
			<div class="service_heard_01" id="heard_01"></div>
			<div class="service_title_index" id="title_01">技术服务</div>
			<div class="service_memo" id="memo_01">技术团队、专利转让、技术升级</div>
		</div>
		<div style="float:left;width:48px;height:356px;"></div>
		<div class="service_box" onclick="openService(2)">
			<div class="service_heard_02" id="heard_02"></div>
			<div class="service_title_index" id="title_02">经营服务</div>
			<div class="service_memo" id="memo_02">销售服务、订单服务、供应链管理</div>
		</div>
		<div style="float:left;width:48px;height:356px;"></div>
		<div class="service_box" onclick="openService(3)">
			<div class="service_heard_03" id="heard_03"></div>
			<div class="service_title_index" id="title_03">企业服务</div>
			<div class="service_memo" id="memo_03">税务筹划、招商落户、高新认定</div>
			<div class="service_memo_more" id="more_03">政府补贴、法务、培训、活动</div>
		</div>
		<div style="float:left;width:48px;height:356px;"></div>
		<div class="service_box" onclick="openService(4)">
			<div class="service_heard_04" id="heard_04"></div>
			<div class="service_title_index" id="title_04">资本服务</div>
			<div class="service_memo" id="memo_04">上市服务、券商、会所</div>
			<div class="service_memo_more" id="more_04">律所、投资服务</div>
		</div>
	</div>
{include file="base/footer_new" /}
	<script type="text/javascript">
		$(function(){
			$("#keyword").keydown(function(event) {
		        if (event.which == 13) {
		        	searchKey();
		        }
		    });
			
			$("#heard_01").hover(function(){
			    $(".service_heard_01").css("background","url('/static/common/img/service01_on.png') center no-repeat");
			    $("#title_01").css("color","#565682");
			    $("#memo_01").css("color","#565682");
			},function(){
				$(".service_heard_01").css("background","url('/static/common/img/service01_off.png') center no-repeat");
				$("#title_01").css("color","#d7d7d7");
				$("#memo_01").css("color","#d7d7d7");
			}); 
			$("#title_01").hover(function(){
			    $(".service_heard_01").css("background","url('/static/common/img/service01_on.png') center no-repeat");
			    $("#title_01").css("color","#565682");
			    $("#memo_01").css("color","#565682");
			},function(){
				$(".service_heard_01").css("background","url('/static/common/img/service01_off.png') center no-repeat");
				$("#title_01").css("color","#d7d7d7");
				$("#memo_01").css("color","#d7d7d7");
			}); 
			$("#memo_01").hover(function(){
			    $(".service_heard_01").css("background","url('/static/common/img/service01_on.png') center no-repeat");
			    $("#title_01").css("color","#565682");
			    $("#memo_01").css("color","#565682");
			},function(){
				$(".service_heard_01").css("background","url('/static/common/img/service01_off.png') center no-repeat");
				$("#title_01").css("color","#d7d7d7");
				$("#memo_01").css("color","#d7d7d7");
			});
			
			$("#heard_02").hover(function(){
			    $(".service_heard_02").css("background","url('/static/common/img/service02_on.png') center no-repeat");
			    $("#title_02").css("color","#565682");
			    $("#memo_02").css("color","#565682");
			},function(){
				$(".service_heard_02").css("background","url('/static/common/img/service02_off.png') center no-repeat");
				$("#title_02").css("color","#d7d7d7");
				$("#memo_02").css("color","#d7d7d7");
			}); 
			$("#title_02").hover(function(){
			    $(".service_heard_02").css("background","url('/static/common/img/service02_on.png') center no-repeat");
			    $("#title_02").css("color","#565682");
			    $("#memo_02").css("color","#565682");
			},function(){
				$(".service_heard_02").css("background","url('/static/common/img/service02_off.png') center no-repeat");
				$("#title_02").css("color","#d7d7d7");
				$("#memo_02").css("color","#d7d7d7");
			}); 
			$("#memo_02").hover(function(){
			    $(".service_heard_02").css("background","url('/static/common/img/service02_on.png') center no-repeat");
			    $("#title_02").css("color","#565682");
			    $("#memo_02").css("color","#565682");
			},function(){
				$(".service_heard_02").css("background","url('/static/common/img/service02_off.png') center no-repeat");
				$("#title_02").css("color","#d7d7d7");
				$("#memo_02").css("color","#d7d7d7");
			});
			
			$("#heard_03").hover(function(){
			    $(".service_heard_03").css("background","url('/static/common/img/service03_on.png') center no-repeat");
			    $("#title_03").css("color","#565682");
			    $("#memo_03").css("color","#565682");
			    $("#more_03").css("color","#565682");
			},function(){
				$(".service_heard_03").css("background","url('/static/common/img/service03_off.png') center no-repeat");
				$("#title_03").css("color","#d7d7d7");
				$("#memo_03").css("color","#d7d7d7");
				$("#more_03").css("color","#d7d7d7");
			}); 
			$("#title_03").hover(function(){
			    $(".service_heard_03").css("background","url('/static/common/img/service03_on.png') center no-repeat");
			    $("#title_03").css("color","#565682");
			    $("#memo_03").css("color","#565682");
			    $("#more_03").css("color","#565682");
			    
			},function(){
				$(".service_heard_03").css("background","url('/static/common/img/service03_off.png') center no-repeat");
				$("#title_03").css("color","#d7d7d7");
				$("#memo_03").css("color","#d7d7d7");
				$("#more_03").css("color","#d7d7d7");
			}); 
			$("#memo_03").hover(function(){
			    $(".service_heard_03").css("background","url('/static/common/img/service03_on.png') center no-repeat");
			    $("#title_03").css("color","#565682");
			    $("#memo_03").css("color","#565682");
			    $("#more_03").css("color","#565682");
			},function(){
				$(".service_heard_03").css("background","url('/static/common/img/service03_off.png') center no-repeat");
				$("#title_03").css("color","#d7d7d7");
				$("#memo_03").css("color","#d7d7d7");
				$("#more_03").css("color","#d7d7d7");
			});
			$("#more_03").hover(function(){
			    $(".service_heard_03").css("background","url('/static/common/img/service03_on.png') center no-repeat");
			    $("#title_03").css("color","#565682");
			    $("#memo_03").css("color","#565682");
			    $("#more_03").css("color","#565682");
			},function(){
				$(".service_heard_03").css("background","url('/static/common/img/service03_off.png') center no-repeat");
				$("#title_03").css("color","#d7d7d7");
				$("#memo_03").css("color","#d7d7d7");
				$("#more_03").css("color","#d7d7d7");
			});
			
			$("#heard_04").hover(function(){
			    $(".service_heard_04").css("background","url('/static/common/img/service04_on.png') center no-repeat");
			    $("#title_04").css("color","#565682");
			    $("#memo_04").css("color","#565682");
			    $("#more_04").css("color","#565682");
			},function(){
				$(".service_heard_04").css("background","url('/static/common/img/service04_off.png') center no-repeat");
				$("#title_04").css("color","#d7d7d7");
				$("#memo_04").css("color","#d7d7d7");
				$("#more_04").css("color","#d7d7d7");
			}); 
			$("#title_04").hover(function(){
			    $(".service_heard_04").css("background","url('/static/common/img/service04_on.png') center no-repeat");
			    $("#title_04").css("color","#565682");
			    $("#memo_04").css("color","#565682");
			    $("#more_04").css("color","#565682");
			},function(){
				$(".service_heard_04").css("background","url('/static/common/img/service04_off.png') center no-repeat");
				$("#title_04").css("color","#d7d7d7");
				$("#memo_04").css("color","#d7d7d7");
				$("#more_04").css("color","#d7d7d7");
			}); 
			$("#memo_04").hover(function(){
			    $(".service_heard_04").css("background","url('/static/common/img/service04_on.png') center no-repeat");
			    $("#title_04").css("color","#565682");
			    $("#memo_04").css("color","#565682");
			    $("#more_04").css("color","#565682");
			    
			},function(){
				$(".service_heard_04").css("background","url('/static/common/img/service04_off.png') center no-repeat");
				$("#title_04").css("color","#d7d7d7");
				$("#memo_04").css("color","#d7d7d7");
				$("#more_04").css("color","#d7d7d7");
			});
			$("#more_04").hover(function(){
			    $(".service_heard_04").css("background","url('/static/common/img/service04_on.png') center no-repeat");
			    $("#title_04").css("color","#565682");
			    $("#memo_04").css("color","#565682");
			    $("#more_04").css("color","#565682");
			    
			},function(){
				$(".service_heard_04").css("background","url('/static/common/img/service04_off.png') center no-repeat");
				$("#title_04").css("color","#d7d7d7");
				$("#memo_04").css("color","#d7d7d7");
				$("#more_04").css("color","#d7d7d7");
			});
			
			
		});
		
		function openView(url){
			window.location.href = url;
		}
		
		function Newsdetail(url){
			window.location.href = url;
			e.stopPropagation();
            e.preventDefault();
		}
		
		function viewNews(){
			window.location.href = '/home/news/lists';
		}
		
		function viewReport(){
			window.location.href = '/home/industry_report/lists';
		}
		
		function searchKey(){
			var keyword = $("#keyword").val();
			if(keyword!=''){
				window.location.href = '/home/index/search?keyword='+keyword;
			}
		}
		
		function openService(id){
			window.location.href = '/home/business/index?pf=1#'+id;
		}
	</script>
	</body>
</html>
