{include file="base/header_new" /}
	<div class="container" style="height:120px;">
		<div class="index_header" style="margin-left:0px;">
			<div style="float:left;margin-top:45px;"><a href="/"><img src="/static/common/img/logo.png" title="FA財"></a></div>
			
			<ul>
				<li><a href="/home/member/index" title="个人中心"><img src="/static/common/img/member_icon.png" title="个人中心"></a></li>
				<li><a href='{:url("Trilateral/index")}' title="三方演绎">三方演绎</a></li>
				<li>
				    <a href="#click" class="menu" title="资讯研报"> 资讯研报
				      <ul class="menu-dropdown">
				        <li onclick="viewNews()" title="资讯中心">资讯中心</li>
				        <li onclick="viewReport()" title="研报中心">研报中心</li>
				      </ul>
				    </a>
				</li>
				<li><a href='{:url("Index/listorganize")}' title="找资金">找资金</a></li>
				<li><a style="font-size:22px;color:#222222;" href='{:url("Index/listproject")}' title="找项目">找项目</a></li>
				<li><a href="/" title="首页">首页</a></li>
			</ul>
		</div>
	</div>
	<div class="container" style="height:210px;">
		<div class="index_search_s" style="top:0;">
			<div class="detail_menu">
				<a href="/" title="首页">首页</a> &nbsp;>&nbsp;
				<a href="javascript:;" title="项目">{$show.title}</a>
			</div>
			<div class="index_search_left_s">
				<div style="margin:0px 32px 0 32px;"><img src="/static/common/img/search_icon.png"></div>
			</div>
			<div class="index_search_mid_s">
				<input type="text" placeholder="输入项目、需求" id="keyword" value="">
			</div>
			<div class="index_search_right_s"><a href="javascript:;" onclick="searchKey()" title="立即搜索">立即搜索</a></div>
		</div>
	</div>

	<div id="box" class="container" style="height:740px;">
		<div class="view_list">
			<div style="width:960px;height:100%;">
				
		    	{foreach name="$project" item="item"}
		    		<div class="hot_item" style="width:430px;margin-right:48px;">
						<a href='/home/project/index/id/{$item.id}' target="_blank">
						<div class="hot_item_content">
							<div class="list_title" style="margin:22px 44px 27px 44px;line-height:50px;height:50px;" title="{$item.top}">{$item.top}
								<div style="float:right;width:46px;height:46px;border-radius:23px;"><img src="/static/common/img/default.png"></div>
							</div>  
							<div class="list_content" style="width:360px;line-height:30px;margin-left:44px;height:60px;" title="{$item.introduction}">{$item.bottom}</div>
							<div style="font-size:14px;margin:0 44px 44px 44px;line-height:40px;height:40px;">
								<div style="float:left;color:#ff2359;" title="{$item.label1}"><span>{$item.label1}</span><span style="margin-left:16px;" title="{$item.label2}">{$item.label2}</span></div>
								<div style="float:left;width:50px;height:30px;"></div>
								<div style="float:right;text-align:center;line-height:30px;color:#9191af;" title="{$item.view_num}人浏览">{$item.view_num}人浏览</div>
							</div>
						</div>
						</a>
					</div>
		    	{/foreach}
			</div>
		</div>

		<div class="container_right">
			<div class="right_banner">
				<a href="/home/project/prolist/id/3"><img src="/static/common/img/banner1.png"></a>
			</div>
			<div class="right_banner">
				<a href="/home/project/prolist/id/2"><img src="/static/common/img/banner2.png"></a>
			</div>
			<div class="right_banner">
				<a href="/home/project/prolist/id/1"><img src="/static/common/img/banner3.png" ></a>
			</div>
			<div class="right_banner">
				<a href="/home/project/prolist/id/4"><img src="/static/common/img/banner4.png"></a>
			</div>
		</div>
	</div>
	{include file="base/footer_new" /}
	<script type="text/javascript">
	$(function(){
		$("#keyword").keydown(function(event) {
	        if (event.which == 13) {
	        	searchKey();
	        }
	    });
		
	});	
	function searchKey(){
		var keyword = $("#keyword").val();
		if(keyword!=''){
			window.location.href = '/home/index/search?keyword='+keyword;
		}
	}
    function viewNews(){
		window.location.href = '/home/news/lists';
	}
    		
    function viewReport(){
    	window.location.href = '/home/industry_report/lists';
    }

	</script>
	</body>
</html>