{include file="base/header_new" /}
	<div class="container" style="height:120px;">
		<div class="index_header" style="margin-left:0px;">
		<div style="float:left;margin-top:40px;width:500px;"><a href="/"><img src="/static/common/img/logo.png" title="FA財"></a></div>
			<ul>
				<li><a href="/home/member/index" title="个人中心"><img src="/static/common/img/member_icon.png" title="个人中心"></a></li>
				<li><a href="javascript:;" title="研报中心">发研报中心</a></li>
				<li><a href="javascript:;" title="资讯中心">资讯中心</a></li>
				<li><a style="font-size:22px;color:#222222;"  href="javascript:;" title="找资金">找资金</a></li>
				<li><a href='{:url("Index/listproject")}' title="找项目">找项目</a></li>
				<li><a href="/" title="首页">首页</a></li>
			
			</ul>
		</div>
	</div>
	<div id="detail" class="container">
		<div class="detail_menu">
			<a href="/" title="首页">首页</a> &nbsp;>&nbsp;
			<a href="/home/consultation/lists" title="资讯中心">资讯中心</a>
		</div>
		<div class="detail_content">
			<div style="height:100%;width:74px;float:left;"></div>
			<div class="detail_title"  title="{$info.title}"> {$info.title}</div>
			<div class="detail_memo">
	          	 发布时间：<span>{$info.release_date}</span>					
	        </div>
			<div class="detail_body">
				{$info.content}<br/>
			</div>
		</div>
	</div>
	<div class="container" style="height:200px;"></div>
	{include file="base/footer_new" /}
	<script type="text/javascript">
		var h 	  = $(".detail_body").height();
		var str_h = h + 200;
		//$("#detail_body").css({"height":h+"px"});  
		$("#detail").css({"height":str_h+"px"});  
	</script>
	</body>
</html>