{include file="base/header_new" /}
	<div class="container" style="height:120px;">
		<div class="index_header" style="margin-left:0px;">
		<div style="float:left;margin-top:40px;width:500px;"><a href="/"><img src="/static/common/img/logo.png" title="FA財"></a></div>
			<ul>
				<li><a href="/home/member/index" title="个人中心"><img src="/static/common/img/member_icon.png" title="个人中心"></a></li>
				<li><a href="javascript:;" title="研报中心">研报中心</a></li>
				<li><a href="javascript:;" title="资讯中心">资讯中心</a></li>
				<li><a href='{:url("Index/listproject")}' title="找资金">找资金</a></li>
				<li><a href='{:url("Index/listorganize")}' title="找项目">找项目</a></li>
				<li><a href="/" title="首页">首页</a></li>
			
			</ul>
		</div>
	</div>
	<div id="box" class="container" >
	    <div style="height:50px;"></div>
		<div class="hot_news"  v-for="item in displayCareList">
			<a :href="item.item_url" target="_blank" :title="item.des"> 
			<div class="hot_news_content">
				<div class="hot_news_bg" :style="item.style_bg_url"></div>
				<div style="float:left;width:62%;height:190px;">
				 	<div style="height:30px;"></div>  
					<div class="list_title" :title="item.title">{{item.title}}</div>  
					<div class="list_content" style="line-height:50px;" :title="item.des">{{item.short_des}}<span class="list_more" style="float:right;" title="详情">详情</span></div>
					<div style="font-size:14px;height:40px;">
						<div class="list_sort" style="float:left;" :title="item.sort_name">{{item.sort_name}}</div>
						<div style="float:left;width:50px;height:30px;"></div>
						<div style="float:left;text-align:center;line-height:30px;color:#9191af;" title="FA財">FA財</div>
						<div style="float:right;text-align:center;line-height:30px;color:#9191af;" :title="item.release_date">{{item.release_date}}</div>
					</div>
				</div>
			</div>
			</a>
		</div>
	</div>
	<div class="container" style="height:100px;">
		<div class="page_list" style="width:520px;"></div>
		<input type="hidden" id="current" value="1">
	</div>
	{include file="base/footer_new" /}
	
		<script type="text/javascript">
		var vue = new Vue({
		    el: "#box",
		    data: {
		        displayCareList: [],
		        pageCount: "",
		        total: "",
		    },
		    mounted: function() {
		        this.$nextTick(function() {
		        	var current   = 1;
		        	 $.ajax({
		                    url: '/home/consultation/listApi',
		                    type: 'GET',
		                    async: false,
		                    dataType: 'json',
		                    data: { "page": current}
		                })
		                .done(function(res) {
		                    if (res.code == 200) {
		                        vue.displayCareList = res.data['data'];
		                        console.log(vue.displayCareList);
		                        vue.pageCount  		= res.data['page'];
		                        vue.total 			= res.data['ptotal'];
		                    }else{
		                    	vue.displayCareList = [];
		                        vue.pageCount 	 	= 0;
		                        vue.total 			= 0;
		                        $("#searchnone").css('display','block'); 
		                    }
		                });
		        	 
		        	 
					$('.page_list').pagination({
		        		pageCount: vue.pageCount,
		        		current:current,
		        		callback: function (api) {
		        			$('.now').text(api.getCurrent());
		        		}
		        	}, function (api) {
		        		$('.now').text(api.getCurrent());
		        	});
				});
		    },
		    methods: {
		    	
		    }
		});  
		</script>
	</body>
</html>
	