{include file="base/header_new" /}
	<div class="container" style="height:120px;">
		<div class="index_header" style="margin-left:0px;">
			<div style="float:left;margin-top:45px;"><a href="/"><img src="/static/common/img/logo.png" title="FA財"></a></div>
			<ul>
				<li><a href="/home/member/index" title="个人中心"><img src="/static/common/img/member_icon.png" title="个人中心"></a></li>
				<li><a href='{:url("IndustryReport/lists")}' title="研报中心">研报中心</a></li>
				<li><a href='{:url("News/lists")}' title="资讯中心">资讯中心</a></li>
				<li><a href='{:url("Index/listorganize")}' title="找资金">找资金</a></li>
				<li><a href='{:url("Index/listproject")}' title="找项目">找项目</a></li>
				<li><a style="font-size:22px;color:#222222;" href="/" title="首页">首页</a></li>
			</ul>
		</div>
	</div>
	<div class="container" style="border:solid 1px #fff;margin-top:200px;text-align:center;">
		<div style="width:1400px;text-align:center;border:solid 1px #fff;">
			<img src="/static/common/img/loading.png" style="border:solid 1px #fff;">
		</div>
		<div class="loading">
			你还没有登录，正在进入登录页面
        	<span id="time">3</span><a href="/home/pub/login">进入</a>
		</div>
	</div>
	{include file="base/footer_new" /}
</body>
</html>
<script>
	$(function () {
		function jump(count) {    
            window.setTimeout(function(){
                count--;  
                
                if(count > 0) {    
                	$("#time").html(count);   
                    jump(count);    
                } else {    
                	$("#time").html('');
                    location.href="/home/pub/login";    
                }    
            }, 1000);    
        }    
        jump(3);
	});

	
</script>



