{include file="base/header_new" /}
	<div class="container" style="height:130px;">
		<div class="index_header" style="margin-left:0px;">
			<div style="float:left;margin-top:45px;"><a href="/"><img src="/static/common/img/logo.png" title="FA財"></a></div>
			<ul class="hList">
				 <li><a href="/home/member/index" title="个人中心"><img src="/static/common/img/member_icon.png" title="个人中心"></a></li>
				 <li><a style="font-size:22px;color:#222222;" href='{:url("Trilateral/index")}' title="三方演绎">三方演绎</a></li>
				 <li>
				    <a href="#click" class="menu" title="资讯研报"> 资讯研报
				      <ul class="menu-dropdown">
				        <li onclick="viewNews()" title="资讯中心">资讯中心</li>
				        <li onclick="viewReport()" title="研报中心">研报中心</li>
				      </ul>
				    </a>
				</li>
				<li><a href='{:url("Index/listorganize")}' title="找资金">找资金</a></li>
				<li><a href='{:url("Index/listproject")}' title="找项目">找项目</a></li>
				<li><a href="/"  title="首页">首页</a></li>
			</ul>
		</div>
	</div>
	<div class="container" style="height:550px;">
		<img src="/static/common/img/trilateral/index_bg.jpg" class="trilateral_index">
	</div>
	<div style="border-top:dashed  1px #dddddd;height:50px;"></div>
	<div class="container" style="line-height:50px;height:80px;">
		<div style="float:left;width:38%;">&nbsp;</div>
		<div style="float:left;width:5%;color:#dddddddd;">————</div>
		<div style=float:left;width:14%;font-size:30px;text-align:center;font-weight:bold;color:#565682;">高效路演</div>
		<div style="float:left;width:5%;text-align:right;color:#dddddddd;">————</div>
		<div style="float:left;width:38%;">&nbsp;</div>
	</div>
	<div style="height:430px;">
		<div class="container" style="height:400px;">
			<div style="width:100%;height:400px;">
				<div class="trilateral_wdith" style="float:left;height:100%;">&nbsp;</div>
				<div style="float:left;width:480px;height:100%;;"><img src="/static/common/img/trilateral/index01.png" ></div>
				<div style="float:left;width:10%;height:100%;">&nbsp;</div>
				<div class="detail_pro" style="float:left;width:500px;height:100%;">
				<span>在中国2000万家中小微企业中，每年有近90%的融资缺口。其中，近30%的企业最终因为资金短缺而无法持续经营。</span><br /><br /><br />
				<span>“三方演绎”在线路演平台是由FA財联合青年投资家俱乐部共同打造的一个在线路演平台。志在打通投融两端资源，解决传统融资痛点，整合行业优势资源，提高中小微企业的融资效率。</span><br /><br /><br />
				<span>“三方演绎”以服务企业为根本核心，通过不断拓展路演新模式，积极打造行业路演新标杆，为企业和投资人搭建一座双赢的桥梁。</span>
				</div>
			</div>
		</div>
	</div>
	<div style="border-top:dashed  1px #dddddd;height:580px;">
		<div style="line-height:50px;height:80px;margin-top:50px;">
			<div style="float:left;width:38%;">&nbsp;</div>
			<div style="float:left;width:5%;color:#dddddddd;">————</div>
			<div style=float:left;width:14%;font-size:30px;text-align:center;font-weight:bold;color:#565682;">贴心服务</div>
			<div style="float:left;width:5%;text-align:right;color:#dddddddd;">————</div>
			<div style="float:left;width:38%;">&nbsp;</div>
		</div>
		<div class="container" style="height:400px;margin-top:50px;">
			<div style="width:100%;height:400px;">
				<div style="float:left;width:10%;height:100%;">&nbsp;</div>
				<div class="detail_pro" style="float:left;width:500px;height:100%;">
					<span>高效模式：省心、省力、省时、省成本</span><br /><br />
					<span>突破区域限制：覆盖全国，直达指定的每一个区域</span><br /><br />
					<span>海量机构数据：5000+精准化，标签化（投资偏好、已投项目、资金规模）</span><br /><br />
					<span>直播内容更丰富：专业主持、视频播放、BP展示、机构互动、直面交流</span>
					<span>循环对接：一次参与，终身服务</span>
				</div>
				<div style="float:right;width:40%;height:100%;"><img src="/static/common/img/trilateral/index02.png"></div>
			</div>
		</div>
	</div>
	<div style="border-top:dashed 1px #dddddd;border-bottom:dashed 1px #dddddd;height:630px;">
		<div style="line-height:50px;height:80px;margin-top:50px;">
			<div style="float:left;width:38%;">&nbsp;</div>
			<div style="float:left;width:5%;color:#dddddddd;">————</div>
			<div style=float:left;width:14%;font-size:30px;text-align:center;font-weight:bold;color:#565682;">我们优势</div>
			<div style="float:left;width:5%;text-align:right;color:#dddddddd;">————</div>
			<div style="float:left;width:38%;">&nbsp;</div>
		</div>
		<div class="container" style="height:400px;margin-top:10px;">
			<div style="width:100%;font-size:30px;text-align:center;font-weight:bold;"></div>
			<div style="width:100%;height:400px;">
				<div class="trilateral_wdith" style="float:left;height:100%;">&nbsp;</div>
				<div style="float:left;width:480px;height:100%;;"><img src="/static/common/img/trilateral/index03.png"></div>
				<div style="float:left;width:10%;height:100%;">&nbsp;</div>
				<div class="detail_pro" style="float:left;width:500px;height:100%;">
					<br /><br />
					<span>十年财务顾问经验、百场大型路演主办、千家合作机构资源、亿级融资规模、无限贴心服务。专业团队为你提供商业模式梳理、项目线上发布、精准机构筛选、项目线上路演、机构集中对接。</span>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="height:360px;">
		<div class="hot_header"><span title="往期回顾">往期回顾</span></div>
		{foreach name="$list" item="item"}
		<div class="trilateral">
			<a href="/home/trilateral/detail/id/{$item.id}"><img src="{$item.top_url}" width="100%" height="100%" title="{$item.title}"></a>
		</div>
		{/foreach}
	</div>
	<div class="container" style="height:280px;">
		<div class="hot_header" style="margin-bottom:20px;"><span title="合作机构">合作机构</span></div>
		<div class="trilateral_img">
			<table>
				<tr>
					<td style="width:200px;height:80px;"><img src="/static/common/img/trilateral/orgPartner01.png" title="盛银控股"></td>
					<td style="width:210px;"><img src="/static/common/img/trilateral/orgPartner02.png" title="NewMargin"></td>
					<td style="width:230px;"><img src="/static/common/img/trilateral/orgPartner03.png" title="清控科创"></td>
					<td style="width:240px;"><img src="/static/common/img/trilateral/orgPartner04.png" title="仙瞳资本"></td>
					<td style="width:210px;"><img src="/static/common/img/trilateral/orgPartner06.png" title="慈主投资"></td>
					<td style="width:200px;"><img src="/static/common/img/trilateral/orgPartner05.png" title="浙商创投"></td>
				</tr>
			</table>
		</div>
		<div class="trilateral_img">
			<table>
				<tr>
					<td style="width:200px;height:80px;"><img src="/static/common/img/trilateral/orgPartner07.png" title="乾道"></td>
					<td style="width:210px;"><img src="/static/common/img/trilateral/orgPartner08.png" title="明势资本"></td>
					<td style="width:230px;"><img src="/static/common/img/trilateral/orgPartner09.png" title="國時資産"></td>
					<td style="width:240px;"><img src="/static/common/img/trilateral/orgPartner10.png" title="中国银河投资"></td>
					<td style="width:210px;"><img src="/static/common/img/trilateral/orgPartner11.png" title="天士力控股"></td>
					<td style="width:200px;"><img src="/static/common/img/trilateral/orgPartner12.png" title="乔贝资本"></td>
				</tr>
			</table>
		</div>
		<div class="trilateral_img">
			<table>
				<tr>
					<td style="width:200px;height:80px;"><img src="/static/common/img/trilateral/orgPartner13.png" title="国发创投"></td>
					<td style="width:210px;"><img src="/static/common/img/trilateral/orgPartner14.png" title="灿辰商务"></td>
					<td style="width:230px;"><img src="/static/common/img/trilateral/orgPartner15.png" title="洪泰基金"></td>
					<td style="width:240px;"><img src="/static/common/img/trilateral/orgPartner16.png" title="元禾控股"></td>
					<td style="width:210px;"><img src="/static/common/img/trilateral/orgPartner17.png" title="联创资本"></td>
					<td style="width:200px;"><img src="/static/common/img/trilateral/orgPartner18.png" title="毅逹資本"></td>
				</tr>
			</table>
		</div>
	</div>
{include file="base/footer_new" /}
	<script type="text/javascript">
		function viewNews(){
			window.location.href = '/home/news/lists';
		}
		
		function viewReport(){
			window.location.href = '/home/industry_report/lists';
		}
		
	</script>
	</body>
</html>
