{include file="base/header_new" /}
	<!-- indexPage -->
	<div class="container" style="height:120px;">
		<div class="index_header" style="margin-left:0px;">
			<div style="float:left;margin-top:45px;"><a href="/"><img src="/static/common/img/logo.png" title="FA財"></a></div>
			<ul>
				<li><a href="javascript:; title="个人中心"><img src="/static/common/img/member_icon.png" title="个人中心"></a></li>
				<li><a href="javascript:;" style="font-size:22px;color:#222222;"  title="发现">关于我们</a></li>
				<li><a href="javascript:; title="活动">活动</a></li>
				<li><a href="javascript:; title="找资金">找资金</a></li>
				<li><a href="javascript:; title="找项目">找项目</a></li>
				<li><a href="/" title="首页">首页</a></li>
			</ul>
		</div>
	</div>
	<div>
		<table border="0" cellpadding="0" cellspacing="0" width="1920">
		  <tr>
		   <td><img name="n_r1_c1" src="/static/common/img/about/about_r1_c1.png" width="1920" height="458" border="0" id="n_r1_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="458" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r2_c1" src="/static/common/img/about/about_r2_c1.png" width="1920" height="431" border="0" id="n_r2_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="431" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r3_c1" src="/static/common/img/about/about_r3_c1.png" width="1920" height="317" border="0" id="n_r3_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="317" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r4_c1" src="/static/common/img/about/about_r4_c1.png" width="1920" height="506" border="0" id="n_r4_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="506" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r5_c1" src="/static/common/img/about/about_r5_c1.png" width="1920" height="270" border="0" id="n_r5_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="270" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r6_c1" src="/static/common/img/about/about_r6_c1.png" width="1920" height="1949" border="0" id="n_r6_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="1949" border="0" alt="" /></td>
		  </tr>
		</table>
	</div>
		
	<div class="index_footer">
		<div style="font-size:font-size:22px;height:40px;line-height:40px;">关于我们</div>
		<div style="font-size:font-size:16px;height:40px;line-height:40px;">
			<div style="float:right;">Add.:上海市浦东新区民生路1518号A座702</div>
			<div style="float:right;width:500px;">Email:xinbaokeji@jrfacai.com</div>
		</div>
		<div class="qrcode" style="height:150px;">
			<div style="float:left;text-align:center;">
				<div><img src="/static/common/img/wechat_ser_qrcode.jpeg" width="120" height="120"></div>
				<div>服务号</div>
			</div>
			<div style="float:left;">
				<div style="text-align:center;"><img src="/static/common/img/wechat_sub_qrcode.jpeg" width="120" height="120"></div>
				<div style="text-align:center;">订阅号</div>
			</div>
			<div style="float:left;">
				<div style="text-align:center;"><img src="/static/common/img/weibo_qrcode.png" width="120" height="120"></div>
				<div style="text-align:center;">微博</div>
			</div>
		</div>
		<div style="text-align:center;">&copy;2019&nbsp;上海歆宝信息科技有限公司&nbsp;<a style="color:#9191af;" href="http://www.miibeian.gov.cn" target="_blank">沪ICP备17044635号 </a>&nbsp;</div>
	
		<div style="width:30px;">&nbsp;</div>
	</div>
