{include file="base/header_new" /}
	<div class="container" style="height:120px;">
		<div class="index_header" style="margin-left:0px;">
			<div style="float:left;margin-top:45px;"><a href="/"><img src="/static/common/img/logo.png" title="FA財"></a></div>
			<ul>
				<li><a href="/home/member/index" title="个人中心"><img src="/static/common/img/member_icon.png" title="个人中心"></a></li>
				<li><a href='{:url("Trilateral/index")}' title="三方演绎">三方演绎</a></li>
				 <li>
				    <a href="#click" class="menu" title="资讯研报"> 资讯研报
				      <ul class="menu-dropdown">
				        <li onclick="viewNews()" title="资讯中心">资讯中心</li>
				        <li onclick="viewReport()" title="研报中心">研报中心</li>
				      </ul>
				    </a>
				</li>
				<li><a href='{:url("Index/listorganize")}' title="找资金">找资金</a></li>
				<li><a href='{:url("Index/listproject")}' title="找项目">找项目</a></li>
				<li><a style="font-size:22px;color:#222222;" href="/" title="首页">首页</a></li>
			</ul>
		</div>
	</div>
	<div>
		<table border="0" cellpadding="0" cellspacing="0" width="1920">
		  <tr>
		   <td><img name="n_r1_c1" src="/static/common/img/about/about_r1_c1.png" width="1920" height="458" border="0" id="n_r1_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="458" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r2_c1" src="/static/common/img/about/about_r2_c1.png" width="1920" height="431" border="0" id="n_r2_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="431" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r3_c1" src="/static/common/img/about/about_r3_c1.png" width="1920" height="317" border="0" id="n_r3_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="317" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r4_c1" src="/static/common/img/about/about_r4_c1.png" width="1920" height="506" border="0" id="n_r4_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="506" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r5_c1" src="/static/common/img/about/about_r5_c1.png" width="1920" height="270" border="0" id="n_r5_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="270" border="0" alt="" /></td>
		  </tr>
		  <tr>
		   <td><img name="n_r6_c1" src="/static/common/img/about/about_r6_c1.png" width="1920" height="1949" border="0" id="n_r6_c1" alt="" /></td>
		   <td><img src="/static/common/img/about/spacer.gif" width="1" height="1949" border="0" alt="" /></td>
		  </tr>
		</table>
	</div>
		
{include file="base/footer_new" /}
		<script type="text/javascript">
			function viewNews(){
				window.location.href = '/home/news/lists';
			}
			
			function viewReport(){
				window.location.href = '/home/industry_report/lists';
			}
		</script>
	</body>
</html>